<html>

<head></head>

  <body>
    <form method="post" action="add_user_details">
      <label> Username: </label>
      <input type="text" id="username" name="username">
      <br>
      <label> Profile picture: </label>
      <input type="text" id="profile_pic" name="profile_pic">
      <br>
      <label> Location: </label>
      <input type="text" id="location" name="location">
      <br>
      <input type="hidden" id="pid" name="pid" value="{{ live_user.id }}">
      <input type="submit"?>

    </form>
  </body>

</html>
